body{
  width:1200px;
  font-size: 0;
}
div{
  
  position:relative;
}
/*
Add your CSS to the ID selectors below
*/
#statue{
position:static;
  top:30px;
  left:10px;
  
   
  
  
  

  

  

}

#ball{
  position:absolute;
  top:20px;
  left:23px;
  
  

}

#turnip{
  position:relative;
  top:411px;
  left:297px;
  z-index: 3;
  


}

#farm{
  position:static;
  



}

#grass{
  position:relative;
  top:411px;
  left:348px;
  z-index: 2;
  
  

}

#tetris{
  position:static

}

#L{
  position:relative;
  top:1901px;
  left:100px;
  

}

#T{
  position: relative;
  top: 2101px;
  left: 200px;

}

#I{
  position:relative;
  top:2100px;
  left:500px;

}